/*
!wp-content/
*/.sass-cache
wp-content/uploads/
wp-content/upgrade/
wp-content/plugins/
wp-content/cache/
wp-content/w3tc-config/
wp-content/themes/**/node_modules/
wp-content/themes/**/bower_components/
wp-content/themes/**/browserSync.json


wp-content/plugins
wp-content/uploads
wp-content/themes/nomads/node_modules/*
