// Header

.header
  margin: 60px auto 45px auto

  // No background on nav hover
  .nav > li

    border-bottom: 2px solid $beige

    &.active
      border-bottom: 2px solid $green

    &:hover
      border-bottom: 2px solid $gold

    & > a:hover
      background-color: transparent
